    /* For Desktop */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    /* Navbar design start here */
    .nav-logo{
        text-align: left;
    }
    .nav-heading h1{
        text-align: right;
    }
    .nav-menu{
        flex-direction: row;
        justify-content: flex-end;
    }
    .nav-menu a{
        padding: 5px 10px;
        margin: 20px 0;
        background-color: transparent;
    }
    /* Navbar design end here */

    /* Profile design start here */
    .profile .top-weather{
        position: absolute;
        right: 100px;
        top: 10px;
        transition: width 2s;
    }
    .profile .top-weather:hover{
        width: 200px;
        border-radius: 40px;
    }
    .profile .button-weather{
        position: absolute;
        left: 100px;
        transition: width 2s;
    }
    .profile .button-weather:hover{
        width: 200px;
        border-radius: 40px;
    }
    .profile-desc p{
        text-align: center;
        width: 50%;
        margin: 0 auto 100px auto;
        color: gray;
        font-size: 22px;
    }
    /* Profile design end here */

    /* About me design start here */
    .images-custom{
        height: 250px;
        width: 280px;
        border: 4px solid rgb(255, 255, 255);
        border-radius: 50%;
    }
    .about-me-desh p{
        text-align: left;
    }
    /* About me design end here */

    /* <!-- Achivment Contact design page start here --> */
    .achivment{
        padding-right: 30px;
    }
    .contact button{
        font-size: 18px;
        font-weight: bolder;
        border: none;
        border-radius: 12px;
        background-color: rgb(174, 101, 6);
        color: white;
        cursor: pointer;
        margin-top: 10px;
        padding: 10px;
        width: 100px;
    }
    .media-buttons{
        padding: 70px;
    }
    
    /* ICON MEDILE TAKING DESIGN START HERE */
    /* .contact-links{
        position: relative;
    }
    .media-buttons{
        position: absolute;
        margin-top: 250px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    } */
    /* ICON MEDILE TAKING DESIGN END HERE */

    /* <!-- Achivment Contact design page end here --> */

    /* <!-- Footer design start here --> */

    /* <!-- Footer design end here --> */